body {
    background-color: black;
    margin:0;
    /*font-family: 'Acme', sans-serif;*/
    font-family: 'Open Sans', sans-serif;

}

.container {
    margin: auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1050px;
}

#content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
}

/* ----- Larger screen settings ----- */

@media screen and (min-width: 850px) {
 
    .container {
        flex-direction: row;
    }
    
    #content {
        width:80%;
        height: 90vh;
        font-size:1.5em;
    }
    
}

/*
    ==================
    ===== NAVBAR =====
    ==================
*/
.navbar {
    width:100%;
    height: 10vh;
    display: flex;
}

.navbar ul {
    margin:0;
    padding:0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.navbar li {
    flex: 1;
    display: flex;
    text-align: center;
    height: inherit;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.navbar li:hover {
    background-color: red;
    font-size: 120%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

.navbar hr {
    margin: 0;
    width: 80%;
    display: none;
}

.navbar div {
    display:none;
}

.navbar div h4 {
    margin-bottom: 0;
}

.navbar div p {
    margin: 0;
}

/* ----- Larger screen settings ----- */

@media screen and (min-width: 550px) {
    .navbar ul {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 850px) {

    .navbar {
        width: 20%;
        height: 80vh;
        flex-direction: column;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
        font-size: 1.5em;
    }
    
    .navbar li {
        width: 100%;
    }
    
    .navbar li:hover {
        border-bottom: none;
        border-right: 2px solid black;
    }
    
    .navbar hr {
        border: 0;
        height: 1px;
        display: block;
        background-image: -webkit-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
        background-image: -moz-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
        background-image: -ms-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
        background-image: -o-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
    }
    
    .navbar div {
        display: block;
        text-align: center;
    }
}


/*
    ===========================
    ===== SLIDER and LOGO =====
    ===========================
*/

#slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

#slider img {
    max-width: 100%;
}

#logo {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    font-size: 1em;
    text-shadow: 2px 2px 5px #FFF, -2px -2px 5px #FFF;
    z-index: 3;
}

#logo img {border-radius: 50%;}

#logo h1 {margin:0;}

.slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#slide1 {
    background-image: url("https://images.unsplash.com/photo-1486419952281-2b1734713e54?w=1502");
}

#slide2 {
    background-image: url("https://images.unsplash.com/photo-1469307517101-0b99d8fb0c33?w=1500");
}

#slide3 {
    background-image: url("https://images.unsplash.com/photo-1504973839793-cf4a1f2ba1d5?w=1500");
}

/*#slide4 {*/
/*    background-image: url("../public/food4.jpg");*/
/*}*/

/* ----- Larger screen settings ----- */

@media screen and (min-width: 500px) {
    #logo {font-size: 1.5em;}
}

@media screen and (min-width: 850px) {
    #logo {font-size: 1.5em;}
    
}

/*
    ===================
    ===== DETAILS =====
    ===================
*/

.details {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.details p {
    margin:0;
}

.details div {
    padding: 10px;
}

/* ----- Larger screen settings ----- */

@media screen and (min-width: 850px) {
 
    .details {
        display: none;
    }
    
}

/*
    ===============
    ===== MAP =====
    ===============
*/

h2 {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.map {
    text-align: center;
    width: 100%;
}

.map iframe {
    border: 5px solid darkgoldenrod;
    width: 95%;
    max-width: 500px;
}

/*
    ================
    ===== MENU =====
    ================
*/

.menu {
    background-color: red;
    width: 100%;
    text-align: center;
}

.menu img {
    width: inherit;
    cursor: zoom-in;
}

.expand:active {
    transform: scale(1.5);
}

/*
    ================
    ==== FOOTER ====
    ================
*/

#footer {
    height: 10vh;
    width: 100%;
    max-width: 1050px;
    margin: auto;
    background-color: white;
}