body {
    background-color: black;
    margin:0;
    /*font-family: 'Acme', sans-serif;*/
    font-family: 'Open Sans', sans-serif;

}

.container {
    margin: auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1050px;
}

#content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    background-color: #eee;
}

/* ----- Larger screen settings ----- */

@media screen and (min-width: 850px) {
 
    .container {
        flex-direction: row;
    }
    
    #content {
        width:80%;
        height: 90vh;
        font-size:1.5em;
    }
    
}

/*
    ==================
    ===== NAVBAR =====
    ==================
*/
.navbar {
    width:100%;
    height: 10vh;
    display: flex;
    box-sizing: border-box;
}

.navbar ul {
    margin:0;
    padding:0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.navbar li {
    flex: 1;
    display: flex;
    text-align: center;
    height: inherit;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.navbar li:hover,
.navbar .active {
    background: linear-gradient(red, red 65%, #eee);
    font-size: 120%;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}

.navbar hr {
    margin: 0;
    width: 80%;
    display: none;
}

.navbar img {
    max-height: 2em;
    max-width: 2em;
    border-radius: 50%;
}

.navlink {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar div {
    display:none;
}

.navbar div h4 {
    margin-bottom: 0;
}

.navbar div p {
    margin: 0;
}

@media screen and (max-width: 450px) {
    .navbar ul {
        font-size: 0.75em;
    }
}


/* ----- Larger screen settings ----- */

@media screen and (min-width: 550px) {
    .navbar ul {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 850px) {

    .navbar {
        width: 20%;
        height: 90vh;
        flex-direction: column;
        justify-content: space-around;
        border-right: 2px solid black;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
        font-size: 1.5em;
        justify-content: space-around;
    }
    
    .navbar li {
        width: 100%;
    }
    
    .navbar li:hover,
    .navbar .active {
        border-bottom: none;
        border-right: 2px solid white;
        background: linear-gradient(90deg, red, red 75%, #eee);
    }
    
    .navbar hr {
        border: 0;
        height: 1px;
        display: block;
        background-image: -webkit-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
        background-image: -moz-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
        background-image: -ms-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
        background-image: -o-linear-gradient(left, #ff2222, #f0f0f0, #ff2222);
    }
    
    .navbar div {
        display: block;
        text-align: center;
    }
}


/*
    ===========================
    ===== SLIDER and LOGO =====
    ===========================
*/

#slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

#slider img {
    max-width: 100%;
}

#logo {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    font-size: 1em;
    text-shadow: 2px 2px 5px #FFF, -2px -2px 5px #FFF;
    z-index: 3;
}

#logo img {border-radius: 50%;}

#logo h1 {margin:0;}

.slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#slide1 {
    background-image: url("./assets/images/food1.jpg");
}

#slide2 {
    background-image: url("./assets/images/food2.jpg");
}

#slide3 {
    background-image: url("./assets/images/food3.jpg");
}

#slide4 {
    background-image: url("./assets/images/food4.jpg");
}

/* ----- Larger screen settings ----- */

@media screen and (min-width: 500px) {
    #logo {font-size: 1.5em;}
}

@media screen and (min-width: 850px) {
    #logo {font-size: 1.5em;}
    
}

/*
    ===================
    ===== DETAILS =====
    ===================
*/

.details {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.details p {
    margin:0;
}

.details div {
    padding: 10px;
}

/* ----- Larger screen settings ----- */

@media screen and (min-width: 850px) {
 
    .details {
        display: none;
    }
}

/*
    ===============
    ===== MAP =====
    ===============
*/

h2 {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.map {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 100%;
}

.map iframe {
    border: 5px solid darkgoldenrod;
    max-width: 700px;
}

/*
    ================
    ===== MENU =====
    ================
*/

.menu {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    height: 100%;
}

.menu img {
    margin-top: 10px;
    width: inherit;
    cursor: zoom-in;
    box-sizing: border-box;
    border: 2px solid black;
}

.menu li {
    list-style: none;
    display: inline;
    margin: 20px;
    padding: 0 10px;
    border: 2px solid black;
    background-color: red;
    box-shadow: 0 2px 2px #333;
}

.menuButton {
    text-decoration: none;
    color: black;

}

@media (min-width: 600px) and (max-width: 850px) {
    .menu img {
        max-height: 50vh;
        width: auto;
    }   
}

/*
    ================
    ==== COUPON ====
    ================
*/

.coupons {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coupons img {
    height: auto;
    max-width: 75%;
}

/*
    =================
    ==== CONTACT ====
    =================
*/

.contact {
    width: 90%;
    margin: auto;
    text-align: right;
    height: 100%;
}

.contact form {
    background-color: #bbb;
    box-shadow: 0 2px 2px #333;
    border: 1px solid black;
    padding: 10px;
    margin: 5%;
    max-height: 90%
}

.contact input, textarea {
    width: 75%;
    margin: 10px;
    padding: 2px;
}

.contact textarea {
    height: 10vh;
}

h4 {
    text-align: center;
}

@media (min-width: 550px) {
    .contact {
        width: 75%;
    }
    .contact textarea {
        height: 20vh;
    }
}

/*
    ================
    ==== FOOTER ====
    ================
*/

#footer {
    height: 10vh;
    width: 100%;
    max-width: 1050px;
    margin: auto;
    background-color: red;
    border-top: 2px solid black;
    box-sizing: border-box;
}